.note-list-title a {
    font-size: 2em;
    border-bottom: 50px;
    margin-top: 0px !important;
    color: #428bca
}

.note-list-author {
    margin-top: -5px;
    margin-bottom: 15px;
}

.note-list-container {
    margin-top: 20px;
    padding: 50px 50px 50px 50px;
}