<!DOCTYPE html>

{% load static %}

<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://v3.bootcss.com/favicon.ico">
    <title>notes_detail</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'mysite/templates/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this   -->
    <link href="{% static 'mysite/templates/index/index-base.css' %}" rel="stylesheet">
    <link href="{% static 'mysite/templates/index/index.css' %}" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>

</head>

<body>

{% if user.is_authenticated %}
    <div class="blog-masthead affix">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="#">Home</a>
            <a class="blog-nav-item" href="{% url 'index' %}">Databases</a>
            <a class="blog-nav-item" href="{% url 'notes:index' %}">Notes</a>
            <a class="blog-nav-item" href="{% url 'index' %}">Research</a>
            <a class="blog-nav-item" href="{% url 'index' %}">Life</a>
            <a class="blog-nav-item" href="{% url 'logout' %}">Logout</a>
        </nav>
    </div>
    <div class='container-fluid flex-height-100'><!-- height: 100%-->
        <div class="row index-block-1"><!-- height: 100%-->
            <div class="col-xs-12 index-block-1-main"><!-- height: 100%-3.5em-->
                <div class="index-block-1-content">
                    <h2 class="index-block-1-head">Say Something</h2>
                    <p class="index-block-1-body">/* <span class="typed-quotes">new way </span><span class="typed-cursor">|</span> */</p>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div>
        <footer class="blog-footer">
            <!-- <div>Site built by <a href="http://www.yuanyijie.me">yijie yuan</a></div> -->
        </footer>
    </div>
{% else %}
    <div style="display:flex; flex-direction: column; height:100%; text-align: center; justify-content: center;">
        <div class="sign-in">
            {% if message %}
                <form class="form-signin" method="post" action=".">
                    {% csrf_token %}
                    <h2 class="form-signin-heading">Please sign in</h2>
                    <label for="input-username" class="sr-only">Username</label>
                    <input type="text" name="username" id="input-username" class="form-control" placeholder="guest" required="" autofocus="">
                    <label for="input-password" class="sr-only">Password</label>
                    <input type="password" name="password" id="input-password" class="form-control" placeholder="laodilaile2" required="">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    <p class="error-message">{{message}}</p>
                </form>
            {% else %}
                <form class="form-signin" method="post" action=".">
                    {% csrf_token %}
                    <h2 class="form-signin-heading">Please sign in</h2>
                    <label for="input-username" class="sr-only">Username</label>
                    <input type="text" name="username" id="input-username" class="form-control" placeholder="guest" required="" autofocus="">
                    <label for="input-password" class="sr-only">Password</label>
                    <input type="password" name="password" id="input-password" class="form-control" placeholder="laodilaile2" required="">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endif %}

<!-- javascript -->
<script src="{% static 'mysite/templates/jquery.min.js' %}"></script>
<script src="{% static 'mysite/templates/bootstrap.min.js' %}"></script>

<!-- index custom javascript -->
<script src="{% static 'mysite/templates/index/typed.js' %}"></script>
<script src="{% static 'mysite/templates/index/index.js' %}"></script>

</body>
</html>

