.toc {
    width: 250px;
    text-align: left;
    height: auto;
    z-index: 98;
    background-color: rgba(255,255,255,0);
    transform: translateX(0);
    left: calc((100% * 2 / 3)  );
    position: fixed !important;
    top:100px;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 2.2em;
    color: #808080
}

.toc > table,ul,ol,dl{
    font-family: "Open Sans","Ping Hei",sans-serif;
    font-size: 0.9rem;
}

.toc{
    overflow-y:auto
}
.toc>.toc-list{
    overflow:hidden;
    position:relative
}
.toc>.toc-list li{
    list-style:none
}

.toc-list{
    margin:0;
    padding-left:25px
}
a.toc-link{
    color:currentColor;
    height:100%
}
.is-collapsible{
    max-height:1000px;
    overflow:hidden;
    transition:all 100ms ease-in-out
}
.is-collapsed{
    max-height:0
}
.is-position-fixed{
    position:fixed !important;
    top:0
}
.is-active-link{
    color: #4183C4 !important;
    font-weight:700
}
.toc-link::before{
    background-color:#ffffff;
    content:' ';
    display:inline-block;
    /* height:inherit; */
    height:1.3em;
    left:0;
    /* margin-top:-1px; */
    margin-top:6px;
    position:absolute;
    width:2px
}
.is-active-link::before{
    /* background-color:rgb(79, 141, 204); */
    background-color:#4183C4;
}

/* h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    display: block;
    content: " ";
    height: 30px;
    margin-top: -30px;
    visibility: hidden;
} */