{% extends 'notes/base.html' %}
{% load static %}

{% block title_block %}
    notes_detail
{% endblock %}

{% block css_block%}
    <!-- Custom styles for this   -->
    <link href="{% static 'mysite/templates/blog.css' %}" rel="stylesheet">
    <!-- Typora theme-->
    <link href="{% static 'notes/templates/note-detail.css' %}" rel="stylesheet">
    <!-- Code highlight-->
    <link href="{% static 'notes/templates/prism.css' %}" rel="stylesheet" />
{% endblock %}

{% block body_block %}
    <!--  文章标题  -->
    <div class="container">
          <div align='middle' class="col-sm-12 blog-title">{{ note.title }}</div><br/>
    </div>

     <!-- 文章内容 -->
    <div class="container">
        <div class="col-sm-12">
            {{ note.body|safe }}
        </div>
    </div>
{% endblock %}

{% block js_block %}
    <!-- Code highlight-->
    <script src="{% static 'notes/templates/prism.js' %}"></script>
{% endblock %}

