{% extends 'notes/base.html' %}
{% load static %}

{% block title_block %}
    notes_index
{% endblock %}

{% block css_block%}
    <!-- Custom styles for this   -->
    <link href="{% static 'mysite/templates/blog.css' %}" rel="stylesheet">
    <link href="{% static 'notes/templates/custom.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}
    <!-- 笔记列表 -->
    <br/>
    <br/>
    <!-- medical physics   -->
    <div class="container">
        {% for sup_category in sup_category_set %}
            <h3 align="center"><em class="block-name"><span>{{ sup_category.id }}| </span>{{ sup_category.name }}</em></h3><br/>
            {% for category in sup_category.category_list %}
                {% if category.id == 1 or category.id == 4 or category.id == 7 or category.id == 10 %}
                    <div class="row" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 note-box">
                            <div class="note-list-box">
                                <a href="{% url 'notes:list' category.name %}"><h4>{{ category.name }}</h4></a>
                                <p>
                                {% if category.note_list %}
                                    <ul>
                                        {% for note in category.note_list %}
                                            <li><a href="{% url 'notes:detail' note.category note.slug %}">{{ note.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    None yet.
                                {% endif %}
                                </p>
                            </div>
                        </div>

                {% else %}
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 note-box">
                            <div class="note-list-box">
                                <a href="{% url 'notes:list' category.name %}"><h4>{{ category.name }}</h4></a>
                                <p>
                                {% if category.note_list %}
                                    <ul>
                                        {% for note in category.note_list %}
                                            <li><a href="{% url 'notes:detail' note.category note.slug %}">{{ note.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    None yet.
                                {% endif %}
                                </p>
                            </div>
                        </div>
                        {% if category.id == 3 or category.id == 6 or category.id == 9 or category.id == 12 %}
                    </div>
                        {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

<!--    <div class='container'>-->
<!--        <h3 align="center"><em class="block-name"><span>01| </span>Medical Physics</em></h3><br/>-->
<!--        <div class="row" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
<!--            &lt;!&ndash; mp500 &ndash;&gt;-->
<!--            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 note-box">-->
<!--                <div class="note-list-box">-->
<!--                    <a href="{% url 'notes:list' 'mp500' %}"><h4>MP 500</h4></a>-->
<!--                    <p>-->
<!--                        {% if mp500 %}-->
<!--                            <ul>-->
<!--                                {% for note in mp500 %}-->
<!--                                    <li><a href="{% url 'notes:detail' note.category note.slug %}">{{ note.title }}</a></li>-->
<!--                                {% endfor %}-->
<!--                            </ul>-->
<!--                        {% else %}-->
<!--                            None yet.-->
<!--                        {% endif %}-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; mp505 &ndash;&gt;-->
<!--            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 note-box">-->
<!--                <div class="note-list-box">-->
<!--                    <a href="{% url 'notes:list' 'mp505' %}"><h4>MP 505</h4></a>-->
<!--                    <p>-->
<!--                        {% if mp505 %}-->
<!--                            <ul>-->
<!--                                {% for note in mp505 %}-->
<!--                                    <li><a href="{% url 'notes:detail' note.category note.slug %}">{{ note.title }}</a></li>-->
<!--                                {% endfor %}-->
<!--                            </ul>-->
<!--                        {% else %}-->
<!--                            None yet.-->
<!--                        {% endif %}-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; mp530 &ndash;&gt;-->
<!--            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 note-box">-->
<!--                <div class="note-list-box">-->
<!--                    <a href="{% url 'notes:list' 'mp530' %}"><h4>MP 530</h4></a>-->
<!--                    <p>-->
<!--                        {% if mp530 %}-->
<!--                        <ul>-->
<!--                            {% for note in mp530 %}-->
<!--                                <li><a href="{% url 'notes:detail' note.category note.slug %}">{{ note.title }}</a></li>-->
<!--                            {% endfor %}-->
<!--                        </ul>-->
<!--                        {% else %}-->
<!--                            None yet.-->
<!--                        {% endif %}-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; computer science   &ndash;&gt;-->
<!--    <div class = 'container'>-->
<!--        <h3 align="center"><em class="block-name"><span>02| </span>Computer Science</em></h3><br/>-->
<!--        <div class="row" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
<!--            &lt;!&ndash; django &ndash;&gt;-->
<!--            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 note-box">-->
<!--                <div class="note-list-box">-->
<!--                    <a href="{% url 'notes:list' 'django' %}"><h4>Django笔记</h4></a>-->
<!--                    <p>-->
<!--                        {% if django_list %}-->
<!--                            <ul>-->
<!--                                {% for note in django_list %}-->
<!--                                    <li><a href="{% url 'notes:detail' note.category note.slug %}">{{ note.title }}</a></li>-->
<!--                                {% endfor %}-->
<!--                            </ul>-->
<!--                        {% else %}-->
<!--                            None yet.-->
<!--                        {% endif %}-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; git &ndash;&gt;-->
<!--            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 note-box">-->
<!--                <div class="note-list-box">-->
<!--                <a href="{% url 'notes:list' 'git' %}"><h4>Git笔记</h4></a>-->
<!--                    <p>-->
<!--                        {% if git_list %}-->
<!--                            <ul>-->
<!--                                {% for note in git_list %}-->
<!--                                    <li><a href="{% url 'notes:detail' note.category note.slug %}">{{ note.title }}</a></li>-->
<!--                                {% endfor %}-->
<!--                            </ul>-->
<!--                        {% else %}-->
<!--                            None yet.-->
<!--                        {% endif %}-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; mac &ndash;&gt;-->
<!--            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 note-box">-->
<!--                <div class="note-list-box">-->
<!--                    <a href="{% url 'notes:list' 'mac' %}"><h4>Mac笔记</h4></a>-->
<!--                    <p>-->
<!--                        {% if mac_list %}-->
<!--                            <ul>-->
<!--                                {% for note in mac_list %}-->
<!--                                    <li><a href="{% url 'notes:detail' note.category note.slug %}">{{ note.title }}</a></li>-->
<!--                                {% endfor %}-->
<!--                            </ul>-->
<!--                        {% else %}-->
<!--                            None yet.-->
<!--                        {% endif %}-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
<!--            &lt;!&ndash; matlab &ndash;&gt;-->
<!--            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 note-box">-->
<!--                <div class="note-list-box">-->
<!--                    <a href="{% url 'notes:list' 'matlab' %}"><h4>matlab笔记</h4></a>-->
<!--                    <p>-->
<!--                        {% if matlab_list %}-->
<!--                            <ul>-->
<!--                                {% for note in matlab_list %}-->
<!--                                    <li><a href="{% url 'notes:detail' note.category note.slug %}">{{ note.title }}</a></li>-->
<!--                                {% endfor %}-->
<!--                            </ul>-->
<!--                        {% else %}-->
<!--                            None yet.-->
<!--                        {% endif %}-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; mysql &ndash;&gt;-->
<!--            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 note-box">-->
<!--                <div class="note-list-box">-->
<!--                    <a href="{% url 'notes:list' 'mysql' %}"><h4>Mysql笔记</h4></a>-->
<!--                    <p>-->
<!--                        {% if mysql_list %}-->
<!--                            <ul>-->
<!--                                {% for note in mysql_list %}-->
<!--                                    <li><a href="{% url 'notes:detail' note.category note.slug %}">{{ note.title }}</a></li>-->
<!--                                {% endfor %}-->
<!--                            </ul>-->
<!--                        {% else %}-->
<!--                            None yet.-->
<!--                        {% endif %}-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; python &ndash;&gt;-->
<!--            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 note-box">-->
<!--                <div class="note-list-box">-->
<!--                    <a href="{% url 'notes:list' 'python' %}"><h4>Python笔记</h4></a>-->
<!--                    <p>-->
<!--                        {% if python_list %}-->
<!--                            <ul>-->
<!--                                {% for note in python_list %}-->
<!--                                    <li><a href="{% url 'notes:detail' note.category note.slug %}">{{ note.title }}</a></li>-->
<!--                                {% endfor %}-->
<!--                            </ul>-->
<!--                        {% else %}-->
<!--                            None yet.-->
<!--                        {% endif %}-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
<!--            &lt;!&ndash; shell &ndash;&gt;-->
<!--            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 note-box">-->
<!--                <div class="note-list-box">-->
<!--                    <a href="{% url 'notes:list' 'shell' %}"><h4>Shell笔记</h4></a>-->
<!--                    <p>-->
<!--                        {% if shell_list %}-->
<!--                            <ul>-->
<!--                                {% for note in shell_list %}-->
<!--                                    <li><a href="{% url 'notes:detail' note.category note.slug %}">{{ note.title }}</a></li>-->
<!--                                {% endfor %}-->
<!--                            </ul>-->
<!--                        {% else %}-->
<!--                            None yet.-->
<!--                        {% endif %}-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; software &ndash;&gt;-->
<!--            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 note-box">-->
<!--                <div class="note-list-box">-->
<!--                    <a href="{% url 'notes:list' 'software' %}"><h4>Software笔记</h4></a>-->
<!--                    <p>-->
<!--                        {% if software_list %}-->
<!--                            <ul>-->
<!--                                {% for note in software_list %}-->
<!--                                    <li><a href="{% url 'notes:detail' note.category note.slug %}">{{ note.title }}</a></li>-->
<!--                                {% endfor %}-->
<!--                            </ul>-->
<!--                        {% else %}-->
<!--                            None yet.-->
<!--                        {% endif %}-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; html and css &ndash;&gt;-->
<!--            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 note-box">-->
<!--                <div class="note-list-box">-->
<!--                    <a href="{% url 'notes:list' 'html' %}"><h4>Html & Css笔记</h4></a>-->
<!--                    <p>-->
<!--                        {% if html_list %}-->
<!--                            <ul>-->
<!--                                {% for note in html_list %}-->
<!--                                    <li><a href="{% url 'notes:detail' note.category note.slug %}">{{ note.title }}</a></li>-->
<!--                                {% endfor %}-->
<!--                            </ul>-->
<!--                        {% else %}-->
<!--                            None yet.-->
<!--                        {% endif %}-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
{% endblock %}

{% block js_block %}
{% endblock %}