{% extends 'notes/base.html' %}
{% load static %}

{% block title_block %}
    notes_list
{% endblock %}

{% block css_block%}
    <!-- Custom styles for this   -->
    <link href="{% static 'mysite/templates/blog.css' %}" rel="stylesheet">
    <link href="{% static 'notes/templates/note-list.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}
    <!-- 笔记列表 -->
    <div class="container" >
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 note-list-container">
            {% if note_list %}
                {% for sub_category in sub_category_set %}
                    <h2 class="note-list-category">{{ sub_category }}</h2>
                    {% for note in note_list %}
                        {% if note.sub_category == sub_category %}
                            <div class="note-list-title">
                                <a href="{% url 'notes:detail' note.category note.slug %}">{{ note.title }}</a>
                                <span class="note-date">&nbsp;{{ note.pub_date }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js_block %}
{% endblock %}

